@model WebApplication12.Models.Student
@{
    ViewBag.Title = "StudentDetails";
}

<h2>StudentDetails</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rollno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rollno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.s_id }) |
    @Html.ActionLink("Back to List", "AddStudent")
</p>
