@model WebApplication12.Models.TestQuestionViewModel
@{
    ViewBag.Title = "TestDetails";
}

<h2>TestDetails</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.test.totalquestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test.totalquestions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.test.duaration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test.duaration)
        </dd>
        @{int num = 1;}
        @foreach (var item in Model.questions)
        {
            <dt>
                Question @num
            </dt>
            <dd>
                @item.statement
            </dd>
            num++;
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTest", new { id = Model.test.test_id }) |
    @Html.ActionLink("Back to List", "CreateTest")
</p>
