@model WebApplication12.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.statement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.q_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
