@model WebApplication12.Models.Take

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Take</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.s_id, "s_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("s_id", String.Empty)
                @Html.ValidationMessageFor(model => model.s_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.test_id, "test_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("test_id", String.Empty)
                @Html.ValidationMessageFor(model => model.test_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.marks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marks)
                @Html.ValidationMessageFor(model => model.marks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
