@model WebApplication12.Models.Take

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Take</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.take_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
